<h1>Agrega un histaorial de consumo</h1>

<form action="/save-mes" method="post">
    <label for="mes">mes</label>
    <input type="text" name="mes" id="mes">

    <label for="consumo" >Consumo</label>
    <input type="text" name="consumo" id="consumo">

    <label for="precio" >Precio</label>
    <input type="number" name="precio" id="precio" >

    <input type="submit" value="Agregar historial">
</form>